/* make the spacing between h1 and h3 smaller */

/* background and text color change */

li {
    display: inline-flex;
    margin: 0.5rem;
    color: black;
}

#letter {
    display: inline-flex;
}

/* .test {
    margin: 0.5rem;
    border-bottom: 5px solid black;
} */