h1 {
    padding-bottom: 0%;
}



li {
    display: inline-flex;
    margin: 0.5rem;
    color: black;
}

#box {
    display: inline-flex;
    border-bottom: 2px solid black;
    margin: 0.25rem;
    padding: 0.5rem;
    width: 1rem;
}

button {
    color: black;
    margin: 0.5rem;
}
